body{ 
background: black;
}


span{
	color:yellow;
    font-size:3em;
    font-family:sans-serif;
}
input text{
    color:yellow;
    font-size:3em;
    font-family:sans-serif;
}

a{
    color: green;
	font-size: 16px;	
}
